In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
dataSet = pd.read_csv('Loan_Sheet_Session 3 (MLP).csv')

In [3]:
dataSet.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
dataSet.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [5]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df.describe()

NameError: name 'df' is not defined

In [ ]:
dataSet.corr()['ApplicantIncome'].sort_values(ascending=False)

In [ ]:
import seaborn as sns
plt.figure(figsize=(25,25))
sns.heatmap(dataSet.corr(), center=0, annot=True)
plt.title("Correlation Map")
plt.show()

In [ ]:
dataSet.drop(['Loan_ID'],axis=1,inplace=True)

In [ ]:
num_atr=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']

cat_atr=['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']

In [ ]:
dataSet[num_atr].hist(bins=40, figsize=(20,15)) 
plt.show()

In [ ]:
plt.figure(figsize=(20,12))
x=1
for i in num_atr:
    plt.subplot(4,4,x)
    plt.scatter(data=dataSet,y='ApplicantIncome',x=i,alpha=0.5)
    plt.ylabel('Applicant_Income',fontsize=14)
    plt.xlabel(i,fontsize=14)
    plt.tight_layout()
    x=x+1

In [ ]:
bins = (0, 15, np.inf)
group_names = ['low', 'high']
dataSet['Loan_Amount_Term'] = pd.cut(dataSet['Loan_Amount_Term'], bins = bins, labels = group_names)

num_atr.remove('Loan_Amount_Term')
num_atr.remove('ApplicantIncome')
cat_atr.append('Loan_Amount_Term')

In [ ]:
plt.figure(figsize=(20,12))
x=1
for i in cat_atr:
    plt.subplot(3,4,x)
    sns.boxplot(data=dataSet,y='ApplicantIncome',x=i)
    plt.ylabel('Applicant_Income',fontsize=14)
    plt.xlabel(i,fontsize=14)
    plt.tight_layout()
    x=x+1
plt.show()

In [ ]:
dataSet.isna().sum()

In [ ]:
dataSet.dropna(inplace=True, axis=0)

In [ ]:
dataSet.isna().sum()

In [ ]:
dataSet.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
from sklearn.model_selection import train_test_split
X= dataSet.drop(['ApplicantIncome'],axis=1)
y= dataSet['ApplicantIncome']


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
ss = StandardScaler()
#ss.fit_transform(X_train[num_atr])
X_train[num_atr] = ss.fit_transform(X_train[num_atr])

In [ ]:
X_train[num_atr].head()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_train[cat_atr] = X_train[cat_atr].apply(le.fit_transform)

In [ ]:
X_train[cat_atr].head()

In [ ]:
#a = pd.DataFrame(X_train[cat_atr])
#b = pd.DataFrame(X_train[num_atr])
a=X_train[cat_atr]
b=X_train[num_atr]
#b = ss.transform(price[num_atr])
print (a.head())
print (b.head())
# 7.1 Horizontally concatenate now
#Xtr = np.hstack([a,b]) # It is not X_train
#Xtr.shape # (11,15)

In [ ]:
Xtr = pd.concat([a,b], axis=1)

In [ ]:
Xtr.head()

In [ ]:
y_train.head()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()

In [ ]:
reg.fit(Xtr,y_train)

In [ ]:
ss = StandardScaler()
#ss.fit_transform(X_train[num_atr])
X_test[num_atr] = ss.fit_transform(X_test[num_atr])

le = LabelEncoder()
X_test[cat_atr] = X_test[cat_atr].apply(le.fit_transform)

In [ ]:
a=X_test[cat_atr]
b=X_test[num_atr]

In [ ]:
Xtr1 = pd.concat([a,b], axis=1)

In [ ]:
Xtr1.head()

In [ ]:
reg.predict(Xtr1)

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
def initial_check(model,X_train,y_train):
    rmse_score=cross_val_score(model,X_train,y_train,scoring='neg_mean_squared_error',cv=10)
    r2_score=cross_val_score(model,X_train,y_train,scoring='r2',cv=10)
    print("RMSE (cross_val_score): ",np.sqrt(-rmse_score).mean())
    print("R2 Score (cross_val_score): ",r2_score.mean())

In [ ]:
initial_check(reg,Xtr,y_train)

In [ ]:
X_test.shape

In [ ]:
y_test.shape

In [ ]:
Xtr1.shape

In [ ]:
initial_check(reg,Xtr1,y_test)